@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #e01f3d !important;
}
.swiper-button-disabled {
  opacity: 0.2;
  cursor: auto;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='search'],
input[type='tel'],
input[type='checkbox'],
input[type='radio'],
select,
select[multiple],
textarea {
  @apply block w-full rounded-md bg-white border-gray-300  focus:border-gray-500 focus:bg-white focus:ring-0;
}
